@import url("./libs/simplebar.css");
:root {
  --white: #FFFFFF;
  --black: 0, 0, 0;
  --white-ghost: #ECECEC;
  --silver: #CACACA;
  --gray: #999999;
  --gray-middle: #666666;
  --gray-dark: #333333;
  --lavender: #D1A9F0;
  --lavender-middle: #C283F3;
  --violet: #9D5CD0;
  --violet-middle: #7943A4;
  --violet-dark: #18171B;
  --green: #30BF39;
}

h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  outline: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

body {
  margin: 0;
  font-family: 'Open Sans', 'Arial', sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1570px;
}

@media screen and (max-width: 1440px) {
  .container {
    max-width: unset;
    padding: 0 50px;
  }
}

@media screen and (max-width: 740px) {
  .container {
    padding: 0 15px;
  }
}

.search-container {
  position: relative;
  padding-left: 30px;
}

.search-container:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 22px;
  height: 22px;
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='6.8678' height='1.71695' transform='matrix(-0.718931 0.695081 0.718931 0.695081 4.9375 15.6533)' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0969 18C7.53041 18 3.99692 14.3229 3.99692 10C3.99692 5.67715 7.53041 2 12.0969 2C16.6634 2 20.1969 5.67715 20.1969 10C20.1969 14.3229 16.6634 18 12.0969 18ZM12.0969 20C6.57408 20 2.09692 15.5228 2.09692 10C2.09692 4.47715 6.57408 0 12.0969 0C17.6198 0 22.0969 4.47715 22.0969 10C22.0969 15.5228 17.6198 20 12.0969 20Z' fill='white'/%3E%3C/svg%3E%0A");
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.search-container input {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  line-height: 25px;
  background-color: transparent;
  border: none;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

@media screen and (max-width: 1440px) {
  .search-container input {
    background-color: var(--violet-dark);
  }
}

.search-container input:hover, .search-container input:focus {
  -webkit-box-shadow: 0 1px 0 var(--lavender-middle);
          box-shadow: 0 1px 0 var(--lavender-middle);
}

.search-container input:active {
  -webkit-box-shadow: 0 1px 0 var(--violet-middle);
          box-shadow: 0 1px 0 var(--violet-middle);
}

.search-container input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  line-height: 25px;
}

.search-container input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  line-height: 25px;
}

.search-container input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  line-height: 25px;
}

.search-container input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  line-height: 25px;
}

.header__inner {
  padding: 37px 0;
  background-color: rgba(var(--black), 1);
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header .hamburger {
  position: relative;
  display: none;
  width: 36px;
  height: 28px;
  z-index: 15;
}

.header .hamburger.active .line:first-child {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.header .hamburger.active .line:nth-child(2) {
  left: 50%;
  width: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}

.header .hamburger.active .line:last-child {
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.header .hamburger .line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--white);
  -webkit-transition: .3s ease-in-out all;
  transition: .3s ease-in-out all;
}

.header .hamburger .line:first-child {
  top: 0;
}

.header .hamburger .line:nth-child(2) {
  top: 50%;
  width: 28px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header .hamburger .line:last-child {
  top: 24px;
  width: 24px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item:not(:last-child) {
  margin-right: 60px;
}

.header__link {
  position: relative;
  color: var(--white);
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.header__link:hover {
  color: var(--lavender-middle);
}

.header__link:focus:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 10px);
  height: calc(100% + 3px);
  background-color: var(--violet-middle);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.header__link:active {
  color: var(--violet-middle);
}

.header__link:active:before {
  content: none;
}

.header__link span {
  position: relative;
  z-index: 2;
}

.header__link-lk {
  position: relative;
  padding-left: 20px;
  color: var(--white);
  font-size: 18px;
  line-height: 25px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.header__link-lk:hover {
  color: var(--lavender-middle);
}

.header__link-lk:focus:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 10px);
  height: calc(100% + 3px);
  background-color: var(--violet-middle);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.header__link-lk:active {
  color: var(--violet-middle);
}

.header__link-lk:active:before {
  content: none;
}

.header__link-lk span {
  position: relative;
  z-index: 2;
}

.header__link-lk:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 13px;
  height: 13px;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.62056 9.09278L6.63889 10.1111L10.25 6.5L6.63889 2.88889L5.62056 3.90722L7.48389 5.77778H0.5V7.22222H7.48389L5.62056 9.09278ZM12.0556 0H1.94444C1.14278 0 0.5 0.65 0.5 1.44444V4.33333H1.94444V1.44444H12.0556V11.5556H1.94444V8.66667H0.5V11.5556C0.5 12.35 1.14278 13 1.94444 13H12.0556C12.85 13 13.5 12.35 13.5 11.5556V1.44444C13.5 0.65 12.85 0 12.0556 0Z' fill='white'/%3E%3C/svg%3E%0A");
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
}

.header .search {
  display: none;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.header .search__btn-reset {
  display: none;
}

.header .tablet-nav {
  display: none;
}

@media screen and (max-width: 1440px) {
  .header .hamburger {
    display: block;
  }
  .header__logotype {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .header__logo {
    width: 188px;
  }
  .header__nav {
    display: none;
  }
  .header__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 37px;
  }
  .header__link-lk {
    display: none;
  }
  .header .search {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .search__btn {
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    background-color: var(--violet-dark);
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='6.8678' height='1.71695' transform='matrix(-0.718931 0.695081 0.718931 0.695081 4.9375 15.6533)' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0969 18C7.53041 18 3.99692 14.3229 3.99692 10C3.99692 5.67715 7.53041 2 12.0969 2C16.6634 2 20.1969 5.67715 20.1969 10C20.1969 14.3229 16.6634 18 12.0969 18ZM12.0969 20C6.57408 20 2.09692 15.5228 2.09692 10C2.09692 4.47715 6.57408 0 12.0969 0C17.6198 0 22.0969 4.47715 22.0969 10C22.0969 15.5228 17.6198 20 12.0969 20Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .header .search-container {
    display: none;
    padding-left: 0;
  }
  .header .search-container input {
    width: 0;
    opacity: 0;
  }
  .header .search-container input::-webkit-input-placeholder {
    font-size: 0;
  }
  .header .search-container input:-ms-input-placeholder {
    font-size: 0;
  }
  .header .search-container input::-ms-input-placeholder {
    font-size: 0;
  }
  .header .search-container input::placeholder {
    font-size: 0;
  }
  .header .search-container:before {
    content: none;
  }
  .header .search.active .search-container {
    display: block;
  }
  .header .search.active .search-container input {
    padding-right: 20px;
    width: unset;
    opacity: 1;
  }
  .header .search.active .search__btn {
    padding-right: 32px;
  }
  .header .tablet-nav {
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 50px 50px;
    width: 100%;
    background-color: rgba(var(--black), 0.9);
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: .4s ease all;
    transition: .4s ease all;
    z-index: 10;
  }
  .header .tablet-nav.open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .header .tablet-nav .header__nav {
    display: block;
    margin-top: 75px;
    margin-bottom: 133px;
  }
  .header .tablet-nav .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .tablet-nav .header__link {
    font-size: 24px;
  }
  .header .tablet-nav .header__link-lk {
    display: unset;
    padding: 17px 95px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-weight: 600;
    border-radius: 50px;
    -webkit-box-shadow: inset 0 0 0 2px var(--violet);
            box-shadow: inset 0 0 0 2px var(--violet);
  }
  .header .tablet-nav .header__link-lk span {
    padding-left: 13px;
  }
  .header .tablet-nav .header__link-lk:after {
    left: 90px;
  }
  .header .tablet-nav .header__link-lk:hover {
    color: var(--white);
    background-color: var(--violet);
  }
  .header .tablet-nav .header__link-lk:focus:before {
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    background-color: transparent;
    border: 2px solid var(--lavender-middle);
    border-radius: 50px;
  }
  .header .tablet-nav .header__link-lk:active {
    color: var(--white);
    background-color: var(--violet-middle);
    -webkit-box-shadow: inset 0 0 0 3px var(--lavender);
            box-shadow: inset 0 0 0 3px var(--lavender);
  }
}

@media screen and (max-width: 920px) {
  .header__inner {
    padding: 37px 0;
  }
  .header .search__btn-reset {
    position: relative;
    margin-left: 23px;
    width: 35px;
    height: 35px;
    border: none;
    background-color: transparent;
  }
  .header .search__btn-reset:before, .header .search__btn-reset:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 3px;
    background-color: var(--white);
    opacity: .7;
  }
  .header .search__btn-reset:before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  .header .search__btn-reset:after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
  }
  .header .search.active {
    position: absolute;
    padding: 0 50px;
    width: calc(100% + 100px);
    height: 100px;
    left: -50px;
    background-color: rgba(var(--black), 1);
    z-index: 15;
  }
  .header .search.active .search__btn {
    background-color: transparent;
  }
  .header .search.active .search-container {
    width: 100%;
  }
  .header .search.active .search-container input {
    width: 100%;
    background-color: transparent;
  }
  .header .search.active .search__btn-reset {
    display: block;
  }
}

@media screen and (max-width: 740px) {
  .header__inner {
    padding: 12px 0;
  }
  .header .hamburger {
    width: 25px;
  }
  .header .hamburger.active {
    width: 19px;
  }
  .header .hamburger .line:nth-child(2) {
    top: 8px;
    width: 16px;
    -webkit-transform: unset;
            transform: unset;
  }
  .header .hamburger .line:last-child {
    top: 16px;
    width: 11px;
  }
  .header__logo {
    width: 96px;
  }
  .header .search__btn {
    width: 18px;
    height: 24px;
  }
  .header .search__btn-reset {
    width: 20px;
    height: 20px;
  }
  .header .search.active {
    padding: 0 15px;
    width: calc(100% + 30px);
    left: -15px;
    background-color: rgba(var(--black), 0.9);
  }
  .header .search.active .search__btn {
    margin-top: 52px;
    margin-left: 44px;
    padding-right: 0;
    width: 18px;
    height: 24px;
  }
  .header .search .search-container {
    margin-top: 30px;
    padding: 0 30px 0 0;
  }
  .header .tablet-nav {
    padding: 0 15px 25px;
  }
  .header .tablet-nav .header__nav {
    margin: 45px 0 18px 0;
  }
  .header .tablet-nav .header__item {
    margin-bottom: 0;
  }
  .header .tablet-nav .header__link {
    font-size: 16px;
    line-height: 32px;
  }
  .header .tablet-nav .header__link-lk {
    padding: 13px 32px;
    font-size: 12px;
    line-height: 16px;
  }
  .header .tablet-nav .header__link-lk:after {
    left: 32px;
    width: 9px;
    height: 9px;
  }
}

.kinds-of-art {
  position: relative;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 1440px) {
  .kinds-of-art {
    display: none;
  }
}

.kinds-of-art__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.kinds-of-art__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kinds-of-art__item {
  position: relative;
}

.kinds-of-art__item:not(:last-child) {
  margin-right: 110px;
}

.kinds-of-art__item.open-dropdown .dropdown__list {
  display: block;
}

.kinds-of-art__item.open-dropdown .kinds-of-art__link:before {
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.kinds-of-art__item.open-dropdown .kinds-of-art__link:after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.kinds-of-art__link {
  display: block;
  padding: 23px 0;
  color: var(--white);
  font-size: 18px;
  line-height: 25px;
  cursor: pointer;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.kinds-of-art__link:active {
  color: var(--violet-middle);
}

.kinds-of-art__link:active:before, .kinds-of-art__link:active:after {
  background-color: var(--violet-middle);
}

.kinds-of-art__link span {
  position: relative;
  z-index: 2;
}

.kinds-of-art__link:hover {
  color: var(--violet);
}

.kinds-of-art__link:hover:before, .kinds-of-art__link:hover:after {
  background-color: var(--violet);
}

.kinds-of-art__link:focus span:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  width: calc(100% + 33px);
  height: calc(100% + 3px);
  background-color: var(--violet-middle);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
}

.kinds-of-art__link:before {
  content: '';
  position: absolute;
  top: 50%;
  right: -14px;
  width: 7px;
  height: 1px;
  background-color: var(--white);
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  z-index: 3;
}

.kinds-of-art__link:after {
  content: '';
  position: absolute;
  top: 50%;
  right: -10px;
  width: 7px;
  height: 1px;
  background-color: var(--white);
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  z-index: 3;
}

.dropdown__list-wrapper {
  height: 220px;
}

.dropdown__list {
  display: none;
  position: absolute;
  padding: 40px;
  top: 100%;
  left: 0;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.6);
  overflow-x: hidden;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.dropdown__item {
  width: 220px;
}

.dropdown__item:not(:last-child) {
  margin-bottom: 20px;
}

.dropdown__link {
  display: block;
  position: relative;
  padding: 10px 15px;
  color: var(--white);
  font-weight: 600;
  font-size: 14px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.dropdown__link:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(194, 131, 243, 0.4);
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  opacity: 0;
  z-index: 1;
}

.dropdown__link:hover, .dropdown__link:focus, .dropdown__link:focus-within {
  -webkit-box-shadow: inset 0 0 0px 2px var(--violet);
          box-shadow: inset 0 0 0px 2px var(--violet);
}

.dropdown__link:active:after {
  opacity: 1;
}

.dropdown__link--tintoretto {
  background-image: url("../img/png/subitem1.png");
}

.dropdown__link--friedrich {
  background-image: url("../img/png/subitem2.png");
}

.dropdown__link--leonardo {
  background-image: url("../img/png/subitem3.png");
}

.dropdown__link--verrocchio {
  background-image: url("../img/png/subitem4.png");
}

.dropdown__link--monet {
  background-image: url("../img/png/subitem5.png");
}

.dropdown__link--sisley {
  background-image: url("../img/png/subitem6.png");
}

.dropdown__link--manet {
  background-image: url("../img/png/subitem7.png");
}

.dropdown__link--renoir {
  background-image: url("../img/png/subitem8.png");
}

.dropdown__link--van-gogh {
  background-image: url("../img/png/subitem9.png");
}

.dropdown__link--sezanne {
  background-image: url("../img/png/subitem10.png");
}

.dropdown__link--gauguin {
  background-image: url("../img/png/subitem11.png");
}

.dropdown__link--seural {
  background-image: url("../img/png/subitem12.png");
}

.dropdown__link--kandinsky {
  background-image: url("../img/png/subitem13.png");
}

.dropdown__link--marinetti {
  background-image: url("../img/png/subitem14.png");
}

.dropdown__link--malewicz {
  background-image: url("../img/png/subitem15.png");
}

.dropdown__link--picasso {
  background-image: url("../img/png/subitem16.png");
}

.dropdown__link--carra {
  background-image: url("../img/png/subitem17.png");
}

.dropdown__link--pratella {
  background-image: url("../img/png/subitem18.png");
}

.dropdown__link--severini {
  background-image: url("../img/png/subitem19.png");
}

.dropdown__link--balla {
  background-image: url("../img/png/subitem20.png");
}
/*# sourceMappingURL=style.css.map */